# Pymaceuticals Inc.
---

### Analysis
- ADD ANALYSIS

## Setup

In [1]:
# dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# set up data files paths
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# read in data into dataframes
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
study_results_df = pd.read_csv(study_results_path)

## Prepare Data

In [3]:
# combine both dataframes
complete_study_df = pd.merge(study_results_df, mouse_metadata_df, on='Mouse ID')

# display merged data
complete_study_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [4]:
# show number of rows and columns
complete_study_df.shape

(1893, 8)

In [5]:
# check number of mice
complete_study_df['Mouse ID'].nunique()

249

In [19]:
# bool to find duplicates based on mouse id's and time points
duplicates = complete_study_df.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)

# list of mouse id's with duplicate time points
duplicate_ids = complete_study_df[duplicates]['Mouse ID'].unique()

# data associated with duplicate ids
duplicate_ids_df = complete_study_df[complete_study_df['Mouse ID'].isin(duplicate_ids)]

# display duplicate id's and rows they're in
print(duplicate_ids)
duplicate_ids_df

['g989']

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [24]:
# remove listed duplicate values
cleaned_study_df = complete_study_df[~complete_study_df['Mouse ID'].isin(duplicate_ids)]

# display cleaned df
cleaned_study_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [28]:
# check number of unique mouse id's in cleaned df
cleaned_study_df['Mouse ID'].nunique()

248